        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        
        body {
            font-family: sans-serif;
        }
        
        .container {
            position: relative;
            min-height: 100vh;
            background: #ddd;
        }
        
        h2 {
            text-align: center;
            font-size: 50px;
            margin: 5px 0 50px;
            padding: 15px;
            text-transform: capitalize;
        }
        
        .container .gallery {
            margin: 10px 10px 10px 120px;
            align-items: center;
            display: flex;
            flex-wrap: wrap;
            gap: 15px;
            justify-content: center;
            padding: 10px;
        }
        
        .container .gallery .image {
            height: 250px;
            width: 350px;
            border: 10px solid #fff;
            box-shadow: 0 5px 15px rgba(0, 0, 0, .1);
            overflow: hidden;
            cursor: pointer;
        }
        
        .gallery .image img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            transition: .2s linear;
            padding: 5px;
            /* filter: grayscale(100%); */
        }
        
        .container .gallery .image:hover img {
            transform: scale(1.1);
        }
        /* .gallery image:hover {
            filter: grayscale(0);
            transform: scale(1.1);
        } */
        
        .popup-img {
            position: fixed;
            top: 0;
            left: 0;
            background: rgba(0, 0, 0, 1.9);
            height: 100%;
            width: 100%;
            z-index: 100;
            display: none;
        }
        
        .popup-img span {
            position: absolute;
            top: 0;
            right: 10px;
            font-size: 40px;
            font-weight: bolder;
            color: #fff;
            cursor: pointer;
            z-index: 100;
        }
        
        .popup-img img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            border: 5px solid #fff;
            width: 750px;
            object-fit: cover;
        }
        
        @media(max-width:768px) {
            .container .popup-img img {
                width: 95%;
            }
        }
