@import url('https://fonts.googleapis.com/css?family=Roboto');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.instagram {
    width: 410px;
    height: 910px;
    border: 2px solid black;
    border-radius: 10px;
    margin: auto;
    display: flex;
    flex-direction: column;
    padding: 2px;
}

.hhh img {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

#battery {
    width: 30px;
}

#add img {
    width: 35px;
    height: 35px;
    cursor: pointer;
}

.header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: flex-end;
}

.foot {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    position: relative;
    bottom: 0px;
    box-sizing: border-box;
    border-top: 1px solid rgb(211, 210, 210);
}

.icons img {
    width: 40px;
    height: 40px;
    margin: 2px;
    cursor: pointer;
}

#icon img {
    border: 1px solid black;
    padding: 1px;
    border-radius: 99px;
}

.dp img {
    width: 100px;
    height: 100px;
    border: 1px solid black;
    padding: 1px;
    border-radius: 99px;
    margin-left: 3px;
}

.profileclass {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

.pfp {
    border: 1px solid rgb(226, 224, 224);
    text-align: center;
    padding: 5px;
    margin: 17px 4px 17px 4px;
    border-radius: 7px;
    font-weight: bold;
}

.posticons {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.icon1 img {
    width: 35px;
    height: 35px;
    margin-top: 15px;
    /* border: 1px solid rgb(243, 241, 241); */
}

.gridcontainer {
    display: grid;
    grid-template-columns: auto auto auto;
}

.grid_items {
    /* border: 2px solid black; */
    margin: 1px;
    height: 130px;
}

.container4 {
    display: none;
}

.arrowdown {
    border: solid black;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3.5px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    margin-bottom: 4px;
}

.pfpicons img {
    width: 35px;
    height: 35px;
    color: black;
}

.users {
    margin: 2px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    /* position: sticky;
    top: 0; */
    align-items: center;
    cursor: pointer;
}

#showusers {
    display: none;
    position: absolute;
    background-color: white;
    border: 0px 0px 2px 0px solid black;
    padding: 2px;
    width: 400px;
}

#showusers h3 {
    margin: 5px 2px;
}

.user_name {
    display: block;
    position: relative;
    padding-left: 5px;
    margin-bottom: 0px;
    cursor: pointer;
    font-size: 20px;
}

.user_name input {
    cursor: pointer;
    border: 0px;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    /* filter: invert(50%) */
}

.feed1 {
    display: none;
}

.feeding img {
    width: 100%;
    height: 100%;
}

.reel {
    display: none;
}

.searchbox input {
    width: 95%;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    background-color: rgb(219, 218, 218);
    padding: 9px 15px 9px 15px;
    outline: none;
    display: block;
    margin: auto;
}

.searchbox {
    background-color: white;
    padding: 10px;
    position: sticky;
}

.searchgrid {
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;
}

.gridimg {
    margin: 1px;
    height: 126px;
}

#searchgrid {
    display: none;
}

.posts img {
    width: 100%;
    height: 100%;
}

.stories img {
    width: 75px;
    height: 75px;
    border: 2px solid black;
    border-radius: 99px;
    padding: 3px;
    margin: 1.5px;
}

.stories {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.stories .img1 {
    border: 2px solid red;
}
