* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'fira sans', sans-serif;
}

body {
    background-color: pink;
    color: #F3F4F6;
}

.watch {
    text-align: center;
    background-color: #222;
    width: 100%;
    max-width: 500px;
    margin: 4rem auto;
    border-radius: 1rem;
}

.time {
    font-size: 5rem;
    font-weight: 300;
    margin-bottom: 1rem;
}

.time span {
    font-size: 30px;
}

.controls {
    display: flex;
    align-items: center;
    justify-content: center;
}

.controls button {
    appearance: none;
    background: none;
    border: none;
    outline: none;
    user-select: none;
    cursor: pointer;
    color: #fff;
    font-size: 20px;
    background-color: crimson;
    margin: 0 0.5rem 20px;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    transition: 0.4s;
}

button:hover {
    opacity: 0.7;
}

button:active {
    background-color: #1F2937;
}
