    .menu-bar {
        background: rgba(63, 208, 212, 0.7);
        position: absolute;
        text-align: center;
        height: 75px;
        width: 1270px;
        left: 5px;
        top: 70px;
        font-size: 18px;
        line-height: 18px;
        color: #fff;
        box-sizing: border-box;
    }
    
    .menu-bar ul {
        display: inline-flex;
        list-style: none;
    }
    
    .menu-bar ul li {
        width: 135px;
        margin: 10px;
    }
    
    .menu-bar ul li a {
        text-decoration: none;
        color: #fff;
    }
    
    .menu-bar ul li a:hover {
        color: rgba(2, 43, 44, 0.7);
    }
    
    a {
        box-sizing: border-box;
    }
    
    .active,
    .menu-bar ul li:hover {
        background-color: rgba(63, 208, 212, 0.7);
        border-radius: 4px;
    }
    
    .menu-bar .fas {
        margin-right: 8px;
    }
    
    .sub-menu-1 {
        display: none;
    }
    
    .menu-bar ul li:hover .sub-menu-1 {
        display: block;
        position: absolute;
        background-color: rgba(63, 208, 212, 0.7);
        margin-top: 1px;
        margin-left: 5px;
    }
    
    .menu-bar ul li:hover .sub-menu-1 ul {
        display: block;
        margin: 10px;
    }
    
    .menu-bar ul li:hover .sub-menu-1 ul li {
        width: 70px;
        padding: 0px 20px 9px 0px;
        border-bottom: 1px dotted #fff;
        background: transparent;
        border-radius: 0;
        text-align: left;
    }
    
    .menu-bar ul li:hover .sub-menu-1 ul li a:hover {
        /* color: rgba(63, 208, 212, 0.7); */
        color: rgba(2, 43, 44, 0.7);
    }
    
    .material-icons {
        margin-right: 9px;
    }
    
    .sub-menu-2 {
        display: none;
    }
    
    .sub-menu-1 li:hover .sub-menu-2 {
        display: block;
        position: absolute;
        background-color: rgba(63, 208, 212, 0.7);
        /* background-color: rgba(52, 221, 221, 0.7); */
        margin-top: 0px;
        margin-left: 70px;
    }